snippet txt \text
	\\text{${1}}${0}
	
snippet ngerman \documentclass
	\\documentclass[${1:ngerman}]{${2:scrartcl}}
	${0}

snippet bx \boxed
	\\boxed{${1}} ${0}

snippet bang %!Tex
	%!Tex encoding=utf8

snippet tfld
	{{{
	${1}
	}}}
